### Assignment 2 ###

***Basic Function Implementation***

In [2]:
def greet(name: str , greeting: str = "hello"):
    return f"{greeting} , {name}!"

print(greet("Ribhu Bhushan Tiwari"))

hello , Ribhu Bhushan Tiwari!

**Named Arguments**

In [4]:
def create_profile(name: str , age: int=23 , city: str = ""):
                   return f"Name: {name}, Age: {age}, City: {city}"

print(create_profile(name="Ribhu Bhushan Tiwari" , age=23 , city = "Dehradun"))

Name: Ribhu Bhushan Tiwari, Age: 23, City: Dehradun

***Using ****args and kwargs:***

In [6]:
def sum_numbers(*args , **kwargs):
    total_sum = sum(arg for arg in args if isinstance(arg, (int, float)))
    return total_sum , kwargs

print(sum_numbers(4,5,7, name="Ribhu Bhushan Tiwari", age=23))

(16, {'name': 'Ribhu Bhushan Tiwari', 'age': 23})

***Lambdas and Map***

In [8]:
def square_elements(numbers):
    return list(map(lambda x: x**2, numbers))

print(square_elements([11, 23, 34, 45]))

[121, 529, 1156, 2025]

***Filter and Lambdas***

In [9]:
def filter_odd_numbers(num_list):
    return list(filter(lambda x: x% 2==0 , num_list))

numbers = [2,3,4,5,6]
print(filter_odd_numbers(numbers))

[2, 4, 6]

***Basic List Compreshension***

In [12]:
number = [4,5,6,7,8]
squared_numbers = [number ** 2 for number in numbers]
print(squared_numbers)

[16, 25, 36, 49, 64]

***List Comprehension with Condition***

In [1]:
even_ = [number for number in range(1, 21) if number % 2 == 0]
print(even_)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

***

***Using OS and the time modules***

In [1]:
import os
import time

def file_operations():
    os.makedirs("test_folder")
    print("Directory 'test_folder' created.")
    
    time.sleep(3)
    
    os.rmdir("test_folder")
    print("Directory 'test_folder' deleted.")

file_operations()

Directory 'test_folder' created.
Directory 'test_folder' deleted.

***Importing Specific Function***

In [2]:
from time import sleep as pause

pause(2)

print("Paused execution...")

Paused execution...

***Recursive Function With Args and kwargs***

In [3]:
def flatten_list(*args, **kwargs):
    flat_list = []
    
    def _flatten(item):
        if isinstance(item, (list, tuple)):
            for sub_item in item:
                _flatten(sub_item)
        else:
            flat_list.append(item)
    
    for arg in args:
        _flatten(arg)
    
    for key, value in kwargs.items():
        _flatten(value)
    
    return flat_list

nested_list = [1, [2, [3, 4], 5], [6, 7], 8]
flattened = flatten_list(nested_list)
print("Flattened list:", flattened)

nested_list2 = [[9, 10], 11]
flattened_with_kwargs = flatten_list(nested_list, list2=nested_list2)
print("Flattened list with kwargs:", flattened_with_kwargs)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]
Flattened list with kwargs: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]