In [2]:
# main file 

x = 10 #global variable 
def outer_function():
    x = 20 #enclosing variable 
    def inner_function():
        x = 30   #Local variable 
        print(x)  #Output : 30
    inner_function()
    print(x)  # output : 20

outer_function()
print(x)  #Output : 1

30
20
10

In [3]:
counter = 0

def increment():
    global counter
    counter+=1

In [4]:
increment()
print(counter)

1

In [5]:
def modify_immutable(x):
    x+= 1
    print(f"Inside function : {x}")

In [6]:
a = 5
modify_immutable(a)
print(f"Outside function : {a}")

Inside function : 6
Outside function : 5

In [7]:
def modify_mutable(lst):
    lst.append(4)
    print(f"Inside function : {lst}")

In [8]:
my_list = [1,2,3]
modify_mutable(my_list)
print(f"Outside function : {my_list}")

Inside function : [1, 2, 3, 4]
Outside function : [1, 2, 3, 4]

In [9]:
def square(x):
    return x * x 

f = square
print(f(5))

def apply_function(func , value):
    return func(value)

25

In [11]:
result = apply_function(square , 4)
print(result)

16

In [12]:
def double(x):
    return x*2
def triple(x):
    return x*3
def apply_operation(func , number):
    return func(number)

In [13]:
print(apply_operation(double , 5))
print(apply_operation(triple , 4))

10
12

In [14]:
#Lamda Function

add= lambda a, b : a+ b
print(add(3,5))

8

**Write a function to multiply 3 number and return its result**

In [17]:
def jod(a,b,c): #define a function mod
    return a*b*c

mod = lambda a,b,c : a*b*c   # define lambda 
print(mod(2,3,4))

print(jod(2,3,7))  #calling function jod and print

24
42

**Map Function**

In [18]:
numbers = [1,2,3,4,5]
squared = map(lambda x: x*x , numbers)
print(list(squared))

[1, 4, 9, 16, 25]

**Map Function With Filter**

In [19]:
even_numbers = filter(lambda x: x %2==0 , numbers)
print(list(even_numbers))

[2, 4]

***List Comprehension***

In [1]:
squares = []
for i in range (10):
    if i %2 == 0:
        squares.append(i ** 2)

In [3]:
print(squares)

[0, 4, 16, 36, 64]

In [4]:
squares = [i ** 2 for i in range(10) if i% 2 == 0]

In [5]:
print(squares)

[0, 4, 16, 36, 64]